*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url("background.jpg");
    background-size:cover;
    background-position: center;
  }
  .wrapper{
    width: 250px;
    height: 500px;
    position: relative;
    background-color:transparent;
    border: 2px solid rgb(82, 158, 230);
    backdrop-filter: blur(5px);
    color: #000000;
    border-radius: 12px;
    box-shadow: 0 0 25px 10px #48abe0;
    padding: 225px 20px;
  }
  .wrapper h1{
    font-size: 30px;
    text-align: center;
    color: #be2aa6;
  }
  .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 15px 0;
  }
  .input-box input{
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #53c3ff;
    border-radius: 40px;
    font-size: 12px;
    color: #ffffffb7;
    padding: 20px 45px 20px 15px;
  }
  .input-box input::placeholder{
    color: #e94bb9;
  }
  .input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
  }
  
  
  
  button{
    
    width: 100%;
    height: 30px;
    background: #54c3ff;
    border: 2px;
    outline: none;
    border-radius: 80px;
    cursor: pointer;
    font-size: 16px;
    color: #ff55c6;
    font-weight: 600;
  }

.wrapper img{
  width: 300px;
  justify-content: center;
  margin-top: -200px;
  margin-bottom: 10px;
  margin-left: -40px;


  
}